<%- include('../partials/header') %>
<br><br><br><br><br>
<div class="container col-lg-3">
    <form method="post" action="/admin">
        <div class="mb-3">
          <label for="username" class="form-label">Kullanıcı Adı</label>
          <input type="text" class="form-control" id="username" >
          
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Şifre</label>
          <input type="password" class="form-control" id="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Giriş</button>
      </form>
</div>
<script>
    
</script>
<br><br><br><br><br><br><br><br>
<%- include('../partials/footer') %> 