<%- include('./partials/header') %>
    <!-- Page Header-->
    <header class="masthead"
        style="background-image: url('https://cdn.pixabay.com/photo/2016/03/10/09/24/typewriter-1248088_960_720.jpg');background-attachment: fixed;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1 style="font-family: 'Montserrat', sans-serif;">Selam,</h1>
                        <h1 style="font-family: 'Montserrat', sans-serif;">Ben <span
                                style="color: #4AA96C;">Duhan,</span> </h1>
                        <h2 style="font-family: 'Montserrat', sans-serif;">Karadeniz Teknik Üniversitesi</h2>
                        <h3 style="font-family: 'Montserrat', sans-serif;">Bilgisayar Mühendisliği</h3>
                        <a href="cv.pdf" download="cv.pdf" > <button
                                style="font-family: 'Montserrat', sans-serif; border-radius: 12px; font-size: 1.4rem;"
                                class="btn btn-success" id="cv-btn">Cv İndir</button></a>
                    </div>
                </div>
            </div>
       
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 style="font-family: 'Montserrat', sans-serif;">-DUHAN BAYRAK-</h1>
                    <p style="font-family: 'Montserrat', sans-serif;"><span
                            style="font-size: 1.6rem; color: #4AA96C;">Merhaba</span>
                        1997 Karabük doğumluyum. İlk-orta ve lise eğitimlerimi farklı şehirlerde tamamladım.
                        Şuanda Karadeniz Teknik Üniversitesi'nde Bilgisayar Mühendisliği eğitimi almaktayım.
                        Üniversite eğitimim boyunca ağırlıklı olarak Bilgisayar Bilimleri ve Bilgisayar Yazılımı ana
                        bilim dallarında
                        ders aldım.
                        Son sınıflara doğru Web teknolojileri ilgimi çekmeye başladı. Bu alanda bir şeyler öğrenirken
                        çok zevk
                        aldığımı farkettim.
                    <p style="font-family: 'Montserrat', sans-serif;">Mezun olduktan sonra kariyerime bu alanda yön
                        vermeyi düşünüyorum. Bunun haricinde Okulumuzun
                        KTÜ CEC Öğrenci
                        Kulübü'nde yönetim
                        kurulu üyeliği yaptım. Çok güzel etkinliklere imza attık. Şu anda Frontend Developer olma
                        yolunda kendimi
                        geliştirmeye çalışıyorum.</p>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </main>
    <%- include('./partials/footer') %>